{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ✅</h1>

    <ul>
        <li> Hello <input type="text" value="{{ user.email }}"></li>
        {% for social_account_type in social_account_types %}
            <li>
                {{ social_account_type.value }} -
                {% if user.hasSocialAccountLinked(social_account_type) %}
                    connected
                {% else %}
                    <a href="/oauth/{{ social_account_type.value | lower }}">Connect</a>
                {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
